[submodule "tmux/tmux-resurrect"]
	path = .config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "vim/syntastic"]
	path = .vim/plugged/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/swift.vim"]
	path = .vim/plugged/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "vim/vim-airline"]
	path = .vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/vim-javascript"]
	path = .vim/plugged/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/kotlin-vim"]
	path = .vim/plugged/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "vim/vim-surround"]
	path = .vim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim-erlang-runtime"]
	path = .vim/plugged/vim-erlang-runtime
	url = https://github.com/vim-erlang/vim-erlang-runtime.git
[submodule "vim/vim-erlang-compiler"]
	path = .vim/plugged/vim-erlang-compiler
	url = https://github.com/vim-erlang/vim-erlang-compiler.git
[submodule "vim/vim-erlang-tags"]
	path = .vim/plugged/vim-erlang-tags
	url = https://github.com/vim-erlang/vim-erlang-tags.git
[submodule "vim/coc.nvim"]
	path = .vim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/git-messenger.vim"]
	path = .vim/plugged/git-messenger.vim
	url = https://github.com/rhysd/git-messenger.vim.git
[submodule "vim/vim-jsx-pretty"]
	path = .vim/plugged/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "vim/tagbar"]
	path = .vim/plugged/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/dragvisuals.vim"]
	path = .vim/plugged/dragvisuals.vim
	url = https://github.com/mariappan/dragvisuals.vim.git
[submodule "vim/vim-fugitive"]
	path = .vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/undotree"]
	path = .vim/plugged/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim/vim-erlang-omnicomplete"]
	path = .vim/plugged/vim-erlang-omnicomplete
	url = https://github.com/vim-erlang/vim-erlang-omnicomplete.git
[submodule "vim/vim-vmath"]
	path = .vim/plugged/vim-vmath
	url = https://github.com/nixon/vim-vmath.git
[submodule ".config/gdb/gdb-dashboard"]
	path = .config/gdb/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
