[user]
	email = jnr305@nyu.edu
	name = Julien Rabinow

[core]
    longpaths = true
    pager = less -isXF
[push]
    default = current
[diff]
    tool = vimdiff
[credential]
    helper = cache --timeout=7200
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[color "diff"]
  whitespace = red reverse
[rerere]
  enabled = true
[sendemail]
  chainreplyto = no
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[commit]
    gpgsign = true
[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
  cob = checkout -b
  diff = "diff -w --word-diff"
  show = "show -w --word-diff"
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg3 = log --graph --all --decorate --stat --date=iso
  lg = !"git lg2"
  url = config --get remote.origin.url
  yolo = !git commit -am \"$(curl -s http://whatthecommit.com/index.txt)\"
  # keeping the below around till i find a good use for it
  stag = "!id=`git rev-parse --verify HEAD`; git tag tag_for_${id:0:8} -m \"Tag for commit $id\""
  vtag = !git tag -v `git describe`
  fpush = "!branch=$(git rev-parse --abbrev-ref HEAD); remote=$(git remote); git branch -u \"${remote}\" \"${branch}\"; git push -u \"${remote}\" \"${branch}\""
  fpull = "!git branch -u origin $(git rev-parse --abbrev-ref HEAD)"
  delbr = "!git push $(git remote) -d "
  prtxt = "log -n1 --pretty=format:%B"
  leaderboard = "shortlog -sn --all --no-merges"
  recent = "for-each-ref --count=10 --sort=-committerdate refs/heads/ --format=\"%(refname:short)\""
  # commented out because unreliable (weird commits included and looks disordered)
  #recap = "!git log --all --oneline --no-merges --author=$(git config user.email)"
  changelog = "!git log --oneline --no-merges $(git tag --sort=creatordate|tail -1)..HEAD"
