[submodule "gdb/gdb-dashboard"]
	path = .config/gdb/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule "tmux/tmux-resurrect"]
	path = .config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/tmux-fingers"]
	path = .config/tmux/plugins/tmux-fingers
	url = https://github.com/morantron/tmux-fingers
