# This configuration file sets modes/bindings for the GNU readline
# library.  It is used in the history and command editing interfaces
# to gdb and bash.
#
set editing-mode vi
C-D: possible-completions
C-L: clear-screen
"\C-x\C-x": "!!\C-m"
set horizontal-scroll-mode Off
set visible-stats On
TAB: complete
set input-meta On
set output-meta On
set meta-flag On
set convert-meta Off
"\C-?": backward-delete-char
"\C-[": vi-movement-mode
"\C-_": undo
"\C-b": shell-expand-line
"\C-d": possible-completions
"\C-h": backward-delete-char
"\C-i": complete
"\C-j": accept-line
"\C-l": clear-screen
"\C-k": kill-line
"\C-m": accept-line
"\C-r": reverse-search-history
"\C-s": forward-search-history
"\C-t": transpose-chars
"\C-u": unix-line-discard
"\C-v": quoted-insert
"\C-w": unix-word-rubout
"\C-y": yank
C-G: re-read-init-file

"\e[A": history-search-backward
"\e[B": history-search-forward
"\C-p": previous-history
"\C-n": next-history
"\C-w": backward-delete-word

# Set the mode string and cursor to indicate the vim mode
# # for the number after `\e[`:
# #  0: blinking block
# #  1: blinking block (default)
# #  2: steady block
# #  3: blinking underline
# #  4: steady underline
# #  5: blinking bar (xterm)
# #  6: steady bar (xterm)
# Also see https://stackoverflow.com/questions/44534678/how-to-change-cursor-shape-depending-on-vi-mode-in-bash
# and https://stackoverflow.com/questions/1039713/different-bash-prompt-for-different-vi-editing-mode
#
# Stolen from https://github.com/davxy/dotfiles/blob/f6f3eb3f920e9aaeb57f9652e005d0cb71bb3abb/bash/inputrc#L1
# Show the Vim mode in prompt (command or insert)
set show-mode-in-prompt on
set vi-ins-mode-string "\1\e[1 q\2"
set vi-cmd-mode-string "\1\e[5 q\2"
